.form-container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 4rem;
    font-size: 2.4rem;
    font-family: var(--font-family);

}

.form-container h2 {
    margin-top: 3rem;
    font-size: 5rem;
    text-align: center;
}

/* Styles specific to the login form */
.login-form {
    text-align: center;
}

.new {
    margin-top: 2rem;
    font-size: 3rem;
    font-family: var(--font-family);
    font-style: italic;
    text-align: center;
}

.custom-link {
    color: blue;
    transition: color 0.3s ease;
}

.custom-link:hover {
    color: red;
}


.login-form input,
.login-form label {
    display: block;
    font-size: 2.4rem;
    font-family: var(--font-family);
    margin: 2rem auto;
    width: 40%;
}

/* Styles specific to the register form */
.register-form {
    text-align: center;
}

.register-form h2 {
    margin-top: 3rem;
    font-size: 5rem;
    font-family: var(--font-family);
    text-align: center;
}



.register-form input,
.register-form label {
    display: block;
    font-size: 2.4rem;
    font-family: var(--font-family);
    margin: 2rem auto;
    width: 40%;
}

.req-star {
    color: red;
}

.error-message {
    color: red;
    font-size: 1.5rem;
    font-weight: bolder;
}


/* styles for the change passowrd form */
.change-password-form h2 {
    margin-top: 3rem;
    font-size: 5rem;
    font-family: var(--font-family);
    text-align: center;
}

.change-password-form label,
.change-password-form input {
    display:flex;
    text-align: center;
    font-size: 2.4rem;
    font-family: var(--font-family);
    margin: 2rem auto;
    width: 40%;
   
}








/* Additional styles for the buttons */

.login-form Button, .register-form Button {
    width: 20%;
}


.change-buttons {
    display: flex;
    text-align: justify;
    justify-content: space-between; 
    align-items: center;
    gap: 2rem;

}

