.text-zone{
    position: absolute;
    padding-left: 50px;
    // top: 35%;
    width: 80%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
}

.show-search-bar {
    width: 100%; 
    max-width: 90%; 
    margin-left: 5%; 
    margin-bottom: 2%;
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 

    h1 {
        width: 20%;
        margin-left: 3%;
        margin-right: 0%; 
        margin-bottom: 0;
        font-size: 5.9rem;
    }
    
    .search-form {
        display: flex;
        align-items: center;
        width: 60%;
    }
    
    input[type="text"] {
        
        flex: 1; 
        height: 35px;
        padding: 10px;
        
        color: #555555;
        font-size: 2rem; 
        font-family: 'Coolvetica';
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    
    
        border: 2px solid #ccc; 
        border-radius: 8px; 
    }
    
    button {
        height: 60px;
        width: 70px; 
        padding: 10px; 
        margin-left: 10px; 
        background-color: #3f62bc; 
        color: #fff; 
        border: none; 
        border-radius: 8px; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 
    
        &:hover {
            background-color: #224fc2;
        }
    }
}


.show-results {
    max-height: 80dvh; 
    height: 90%;
    overflow-y: auto; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .show-list{
        height: 100%;
    }

    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    ul li {
        box-sizing: border-box;
        width: calc(25% - 70px); 
        margin: 0 35px ; 
        padding: 15px;
        border-radius: 12px;
        list-style: none;
        cursor: pointer; 
       
        .title{
            // color: #3f62bc;
            color: rgb(199, 199, 222);
            font-size: 1.3rem;
            font-family: 'Coolvetica';
            font-weight: 200;
            letter-spacing: 1.5px;
            text-align: center;
            text-transform: uppercase;
        }
    &:hover{
        img{
            border-color: #233f87d6;
        }
        .title{
            color: #3f62bc;
        }
    }

        
    }

    ul li img {
        border: 5px solid transparent;
        height: 80%;
        width: 100%;
        border-radius: 12px;
    }
}
