.show-zone {
    position: absolute;
    padding-left: 50px;
    min-height: 80vh;
    width: 80%;
    display: table-cell;
    height: 100%; /* Make the height 100% of its container */
}

.show-search-bar {
    height: 15%;
    width: 90%; 
    margin-left: 5%; 
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 

    h1 {
        width: 20%;
        margin-left: 3%;
        margin-right: 0%; 
        margin-bottom: 0;
        // font-size: 5.9rem;
        font-size: calc(1rem + 3vw);
    }
    
    input[type="text"] {
        
        flex: 1; 
        height: 35px;
        padding: 10px;
        
        color: #555555;
        font-size: 2rem; 
        font-family: 'Coolvetica';
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    
    
        border: 2px solid #ccc; 
        border-radius: 8px; 
    }
}

.show-results {
    max-height: 90dvh; 
    height: 90%;
    overflow-y: auto; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    ul {
        padding: 0;
        margin: 0;
        margin-left: 5%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        li {
            box-sizing: border-box;
            flex: 0 0 calc(25% - 70px);
            margin: 0 2%; 
            padding: 15px;
            border-radius: 12px;
            list-style: none;
            cursor: pointer; 

            min-width: 200px;

            img {
                border: 5px solid transparent;
                height: auto;
                width: 100%;
                border-radius: 12px;
                aspect-ratio: 2 / 3; /* Aspect ratio: 2:3 */
            }
            
            .info {
                color: rgb(199, 199, 222);
                font-size: calc(0.7vw); 
                font-family: 'Coolvetica';
                font-weight: 200;
                letter-spacing: 1.5px;
                text-align: center;
                text-transform: uppercase;
                display: -webkit-box; 
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden; 
                text-overflow: ellipsis; 
                margin-top: 10px; /* Add some space between image and title */
            }

            &:hover {
                img {
                    border-color: #233f87d6;
                }
                .title {
                    color: #3f62bc;
                }
            }   
        }
    }
}
