.nav-bar {
    background: #181818;
    width: 7%;
    min-width: 90px;
    height: 100%;
    position: absolute;
    top: o;
    z-index: 3;
    min-height: 600px;

    font-family: var(--font-family);

    .logo{
        display: block;
        padding: 8px 0;
        
        margin: 10px auto;
        text-align: center;
        font-size: 75px;
        font-family: 'Coolvetica';
        font-weight: 1000;
        letter-spacing: 2px;
        color: #3f62bc;
        text-decoration: none;
        

        &:hover {
            color: #6780c0;
        }

    }


    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60%;
        top: 10%;
        width: 100%;
        
        // border: solid 1px blue;

        a{
            font-size: calc(1rem + 4vh);
            width: 100%;
            color: #555;
            display: flex; 
            align-items: center;
            justify-content: center;
            position: relative;
            margin: auto;
            i{transition:  all 0.3s;}
            

            // hover lets us see link's text
            &:hover {
                color: #3f62bc;
                svg{opacity: 0;}
                &:after {opacity: 1;}
            }

            &:after {
                content: '';
                font-size: 2rem;
                width: 100%;
                height: 100%;
                display: flex; 
                align-items: center; 
                justify-content: center; 
                letter-spacing: 2px;
                line-height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: all 0.2s ease-out;
            }
            &:first-child{
                &:after{
                    content: 'HOME';
                }
            }
        }
        
        

        a.movies-link{
            &:after{ content: 'MOVIES';}
        }
        a.shows-link{
            &:after{ content: 'SHOWS';}
        }
        a.music-link{
            &:after{ content: 'MUSIC';}
        }
        a.books-link{
            &:after{ content: 'BOOKS';}
        }
        a.new-link{
            &:after{ content: 'NEW';}
        }
        a.watchlist-link{
            &:after{ content: 'WATCH LIST';}
        }
        a.search-link{
            &:after{ content: 'SEARCH';}
        }
        a.active{
            svg{ color: #3f62bc;}
        }
    }



    // list for direct links at the bottom of sidebar
    ul{
        display: block;
        position: absolute;
        bottom: 10px;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        text-align: center;
        

        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 35px;
                line-height: 15px;

                &:hover svg {
                    color: #3f62bc;
                }
            }
        }
    }

    .icon {
        color: #555; 
        height:45px;
    }

}



