.media-zone {
    position: absolute;
    padding-left: 50px;
    min-height: 80vh;
    width: 80%;
    display: table-cell;
    height: 100%; /* Make the height 100% of its container */
}

.media-search-bar {
    height: 15%;
    width: 90%; 
    min-width: 700px;
    margin-left: 5%; 
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 

    h1 {
        min-width: 220px;
        margin-left: 3%;
        margin-right: 0%; 
        margin-bottom: 0;
        font-size: 5.9rem;
        // font-size: calc(1rem + 3vw);
    }
    
    input[type="text"] {
        
        flex: 1; 
        height: 35px;
        padding: 10px;

        width: calc(100% - 200px);
        min-width: 400px;
        
        color: #555555;
        font-size: 2rem; 
        font-family: var(--font-family);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    
    
        border: 2px solid #ccc; 
        border-radius: 8px; 
    }
}




