:root {
  --font-family: 'Coolvetica', sans-serif;
  --font-size-base: 62%;
  --font-size-form: 2.4rem;
  --color-background: #26272e;
  --color-text: #ffffff;
}

html {
  font-size: 62%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Coolvetica';
  color: #ffffff;
  /* background: #022c43; */
  background: #26272e;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

