.form-container {
    display: flex;
    margin-left: 120px;
    width: 93%;
    height: 100vh;
    font-size: 2.4rem;
    font-family: var(--font-family);
}

.login-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.login-form {
    flex: 1;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form header {
    text-align: center;
}

.username-input, 
.password-container {
    position: relative;
    margin: 1rem auto;
    width: 55%;
    height: 25px;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 25px; 
    border: 3px solid #3f62bc; 
    background-color: #f0f0f0; 
    color: #404040; 
    font-family: var(--font-family);
    font-size: 1.8rem;
}

.password-input {
    background-color: #33333300;
    border: none;
    width: 80%;
    color: #404040; 
    font-family: var(--font-family);
    font-size: 1.8rem;
}

.login-form input::placeholder {
    color: #404040; 
    font-family: var(--font-family);
    font-size: 1.8rem;
}

.login-form input:focus,
.login-form input:hover  {
    outline: none; 
    /* border-color: #5a7dff;  */
}

.error-container {
    min-height: 4rem; 
}

.error-message {
    color: rgb(238, 60, 21);
    font-size: 1.6rem;
}

.submit-button {
    margin-top: 1rem;
    width: 45%;
    padding: 1rem;
    border: none;
    border-radius: 25px; 
    background-color: #3f62bc; 
    color: white; 
    font-size: 1.6rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form button:hover {
    background-color: #5a7dff; 
}


.toggle-password {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #3f62bc;
}


.register-section {
    flex: 1;
    background-color: #3f62bc96;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new {
    text-align: center;
}

.custom-link {
    color: rgb(150, 144, 222);
    transition: color 0.3s ease;
}

.custom-link:hover {
    color: rgb(185, 180, 237);
}
